<div class="col-10 offset-1 my-auto">
  <h2 class="mb-4">Admin panel</h2>

  <div class="list-group">
    <%= link_to [:admin, :categories], class: 'list-group-item list-group-item-action d-flex justify-content-between align-items-center' do %>
      Categories

      <span class="badge badge-primary badge-pill"><%= Category.count %></span>
    <% end %>

    <%= link_to [:admin, :cities], class: 'list-group-item list-group-item-action d-flex justify-content-between align-items-center' do %>
      Cities

      <span class="badge badge-primary badge-pill"><%= City.count %></span>
    <% end %>

    <%= link_to [:admin, :places], class: 'list-group-item list-group-item-action d-flex justify-content-between align-items-center' do %>
      Places

      <span class="badge badge-primary badge-pill"><%= Place.count %></span>
    <% end %>

    <%= link_to [:admin, :tags], class: 'list-group-item list-group-item-action d-flex justify-content-between align-items-center' do %>
      Tags

      <span class="badge badge-primary badge-pill"><%= Tag.count %></span>
    <% end %>

    <%= link_to [:admin, :users], class: 'list-group-item list-group-item-action d-flex justify-content-between align-items-center' do %>
      Users

      <span class="badge badge-primary badge-pill"><%= User.count %></span>
    <% end %>

    <%= link_to [:admin, :wishes], class: 'list-group-item list-group-item-action d-flex justify-content-between align-items-center' do %>
      Wishes

      <span class="badge badge-primary badge-pill"><%= Wish.count %></span>
    <% end %>
  </div>
</div>


