<tr id="<%= dom_id category %>">
  <td><%= category.name %></td>

  <td><%= link_to 'View', [:admin, category], remote: true, class: 'btn btn-link btn-sm' %></td>

  <td><%= link_to 'Edit', [:edit, :admin, category], remote: true, class: 'btn btn-link btn-sm' %></td>

  <td><%= link_to 'Delete', [:admin, category], remote: true, method: :delete, class: 'btn btn-link btn-sm' %></td>
</tr>
