<!DOCTYPE html>
<html>
  <head>
    <title>City Wave</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag :application, media: :all %>
  </head>

  <body class="bg-light">
    <div class="container mx-auto text-center">
      <%= yield %>
    </div>

    <%= render 'widgets/modal' %>

    <%= javascript_include_tag :application %>

    <%= yield :javascripts %>
  </body>
</html>
